* {
  /* border: solid black 1px; */
}

body, html {
  background-attachment: fixed;
  background-image: url(https://i.pinimg.com/originals/b8/4e/e0/b84ee09c72fa8e77be081385deb4ab41.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95%;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  width: 100%;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 5px;
}

header {
  text-align: center;
}

h4 {
  font-size: 36px;
}

.container {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
}

.container--game {
  background-color: #B5DBBA;
  flex-direction: column;
  height: 95%;
  justify-content: center;
  width: 50%;
}

.container--game-board {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #4CAF50;
  justify-content: center;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 400px;
}

.container--game-board-square {
  border: 1px solid #4CAF50;
  height: 7em;
  margin: 2px;
  width: 7em;
}

.container--game-board-square:nth-child(-n+3) {
  border-top: none;
}

.container--game-board-square:nth-child(3n) {
  border-right: none;
}

.container--game-board-square:nth-child(n+7) {
  border-bottom: none;
}

.container--game-board-square:nth-child(-3n+7) {
  border-left: none;
}

.container--player {
  background-color: #B5DBBA;
  flex-direction: column;
  height: 95%;
  overflow: scroll;
  opacity: 0.7;
  width: 25%;
}
