body, html {
  background-attachment: fixed;
  background-image: url(https://i.pinimg.com/originals/b8/4e/e0/b84ee09c72fa8e77be081385deb4ab41.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95%;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  width: 100%;
}

header {
  text-align: center;
}

.banner {
  min-height: 28px;
}

.button {
  background-color: #81C784;
  border-style: none;
  border-radius: 5px;
  margin: 10px;
  padding: 8px;
}

.button:hover {
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: space-around;
}

.game {
  background-color: #B5DBBA;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  padding: 20px 0px 30px 0px;
  width: 50%;
}

.game--board {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #4CAF50;
  justify-content: center;
  margin: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 400px;
}

.game--square {
  align-items: center;
  border: 1px solid #4CAF50;
  display: inherit;
  font-size: 54px;
  height: 2em;
  justify-content: center;
  margin: 2px;
  text-align: center;
  width: 2em;
}

.game--square:hover {
  cursor: pointer;
}

.game--square:nth-child(-n+3) {
  border-top: none;
}

.game--square:nth-child(3n) {
  border-right: none;
}

.game--square:nth-child(n+7) {
  border-bottom: none;
}

.game--square:nth-child(-3n+7) {
  border-left: none;
}

.player {
  background-color: #B5DBBA;
  backdrop-filter: blur(4px);
  flex-direction: column;
  height: 80%;
  overflow: scroll;
  opacity: 0.8;
  width: 20%;
}

.player--label {
  font-size: 24px;
}

.player--score {
  font-size: 36px;
  margin-top: -10px;
}

.player--token {
  background-color: transparent;
  font-size: 36px;
}

.subtitle {
  margin-top: 5px;
}

.title {
  margin-bottom: 10px;
}
